.container {
	align-items: center;
	width: 90%;
	display: flex;
	gap: 0.5em;
	flex-wrap: wrap;
	justify-content: center;
	color: #fff;
}

.themes-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: #000;
}
.btn {
	text-align: center;
	cursor: pointer;
	outline: none;
	border: none;
	width: 100px;
	background-color: #1c1c1e;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.icon {
	color: #fff;
	font-size: 20px;
	transition: transform .2s ease-in-out;

}
.show {
	transform: rotate(-180deg);
}
